www.dnoxl-dev.de {
    redir https://dnoxl-dev.de{uri}
}

dnoxl-dev.de {
    reverse_proxy localhost:8000
}

(cors) {
    @origin header Origin {args.0}
    header @origin {
        Cross-Origin-Embedder-Policy credentialless
        Cross-Origin-Resource-Policy cross-origin
    }
}