www.dnoxl-dev.de {
    redir https://dnoxl-dev.de{uri}
}

dnoxl-dev.de {
    reverse_proxy localhost:8000
}

(cors) {
	@origin header Origin {args.0}
	header @origin {
		Access-Control-Allow-Origin "{args.0}"
		Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
		Cross-Origin-Embedder-Policy require-corp
		Cross-Origin-Opener-Policy same-origin
	}
}