* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: none;
    background-color: rgba(40, 40, 60, 1);
}

h1 {
    padding: 10px;
    color: rgb(150, 150, 200);
    transform: translateY(25%);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

p {
    color: rgb(150, 150, 200);
    padding: 10px;
    margin-top: 25px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#introduction {
    font-size: 3rem;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    animation: fadeIn 2s;
    animation-delay: .25s;
    animation-fill-mode: backwards;
}

#info {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

@keyframes slideInEmbed {
    from {
        transform: translateX(150%);
        visibility: hidden;
    }
    to {
        visibility: visible;
        transform: translateX(0%);
    }
}

.dcserver-embed {
    visibility: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.dcserver-embed.open {
    animation: slideInEmbed 1s;
    animation-fill-mode: backwards;
}

@media screen and (max-width: 480px) {
    h1 {
        transform: translateY(0%);
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    p {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    iframe {
        visibility: hidden;
    }
}

@media screen and (max-height: 650px) {
    iframe {
        visibility: hidden;
    }
}