* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: none;
    position: fixed;
    width: 100%;
    height: 58px;
    top: 0;
    background-color: rgba(150, 150, 200, 0.5);
}

#extension {
    margin-top: 106px;
}

#navLogo {
    overflow: none;
    position: fixed;
    z-index: 1;
    top: 0;
    margin: 10px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    position: fixed;
    overflow: none;
    padding: 0 10px;
}

.nav ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 10px;
}

.nav ul li a {
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-decoration: none;
    color: rgb(40, 40, 60);
    font-variant: inherit;
    font-size: 20px;
}

.nav ul li a:hover {
    transform: scale(1.025);
}

@media screen and (max-width: 480px) {
    .nav.open {
        border-start-end-radius: 20px;
        border-end-end-radius: 20px;
        transform: translateX(0);
        transition: transform 0.3s ease-out;
        width: 200px;
        height: 96px;
        position: fixed;
        margin-top: 10px;
        background-color: rgba(150, 150, 200, 0.5);
    }

    #navLogo {
        transition: transform 0.3s ease-out;
        display: flex;
        position: fixed;
        z-index: 1;
        margin: 10px;
    }

    .nav {
        border-start-end-radius: 20px;
        border-end-end-radius: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: translateX(-200%);
        transition: transform 0.2s ease-out;
        width: 200px;
        height: 96px;
        position: fixed;
        margin-top: 10px;
        background-color: rgba(150, 150, 200, 0.5);
    }

    .nav ul {
        align-content: flex-end;
        flex-wrap: wrap;
        flex-direction: column;
    }
}