<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
{% extends "navbar.html" %}
{% block content %}

<body>
    <h1 id="introduction">Hello, I'm Daniel, known online as Dnoxl.</h1>
    <p id="info">Living and studying in Germany, I spend my free time coding various projects. Python is my language of choice, with a focus on Discord Bots.</p>
    <div class="cards-container">
        <div class="cards">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
    <iframe id="dcserver-embed" title="dcserver-embed" width="300" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <script>
        function loadIframe() {
            var iframe = document.getElementById('dcserver-embed');
            if (window.innerWidth < 480) {
                iframe.style.visibility = "hidden";
            } else {
                iframe.style.visibility = "visible";
                iframe.src = "https://discord.com/widget?id=1109530644578582590&theme=dark";
            }
        }
        window.addEventListener('load', loadIframe);
        window.addEventListener('resize', loadIframe);
    </script>
    
</body>
{% endblock %}

</html>