<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='projects.css') }}"> <!-- Add your project list CSS file here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>

{% extends "navbar.html" %}
{% block content %}

<body>
    <h1 id="project-list-title">My Projects</h1>
    <div class="cards-container">
        <div class="cards">
            <div class="card">
                <a href="guppi">
                    <h2>G.U.P.P.I</h2>
                    <p>A General Utility discord Bot (WIP)</p>
                </a>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>
